<!DOCTYPE html>
<html >

  <title>First Vue App</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="nav-bar"></div>
<div id="app">
  <div class="product">
  <div class="product-image">
    <img :src="image" :alt="altText">
  </div>
  <div class="product-info">
    <h1>{{product}}</h1>
    <p>{{description}}</p>
    <span v-if="onSale">ON SALE !!!</span>
    <p v-if="inStock"> In Stock</p>

    <p v-else>Out of Stock</p>
    <h2>Composition</h2>
    <ul>
      <li v-for="detail in details">{{detail}}</li>
    </ul>
    <h2>Colors</h2>
    <div v-for="variant in variants" :key="variant.variantId">
      <p>{{variant.variantColor}}</p>

    </div>
    <h2>Sizes</h2>
    <ul>
      <li v-for="size in sizes">{{size}}</li>
    </ul>
    <button v-on:click="addToCart">Add to Cart</button>
    <div class="cart">
      <p>{{cart}}</p>
    </div>




  </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
</body>
</html>
